body {
  padding-top: 30px;
}
.header {
  width: 50%;
  height: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
  margin: auto;
}
.welcome {
  font-size: 40px;
  background-color: white;
  padding: 0 5px;
  font-weight: 200;
}
.text {
  font-size: 35px;
  color: red;
}
.middle {
  margin: 50px 300px;
  width: 50%;
  text-align: center;
}
.style {
  font-size: 23px;
}
.box {
  height: 350px;
  width: 350px;
  border: 1px solid red;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
  text-align: center;
  color: red;
  margin: auto;
}
.space {
  margin-left: 50px;
}
p {
  padding-left: 40px;
  text-decoration: line-through;
  font-size: 23px;
}
.checkBox {
  font-size: 20px;
  color: black;
}
.trip {
  margin: 130px 20px 0 0;

  float: right;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    padding-top: 15px;
  }
  .header {
    text-align: center;
    border: none;
  }
  .welcome {
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
  }
  .text {
    font-size: 20px;
    color: red;
  }
  .middle {
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: -24px;
    left: -300px;
  }
  /* .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  } */
  .box {
    margin-top: 40px;
    height: 230px;
    width: 160px;
    border: 1px solid red;
    box-shadow: 1.5px 1.5px 5px gray;
    border-radius: 5px;
    text-align: center;
    color: red;
    margin: 100px auto;
  }
  .space {
    margin-left: 25px;
  }
  p {
    padding-left: 20px;
    text-decoration: line-through;
    font-size: 12px;
  }
  .checkBox {
    font-size: 10px;
    color: black;
  }
  .trip {
    margin: 35px 5px 0 0;

    float: right;
  }
}
