body {
  padding-top: 30px;
}
.index2 {
  z-index: 1;
  filter: blur(7px);
}
.header {
  width: 50%;
  height: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
  margin: auto;
}
.welcome {
  font-size: 40px;
  background-color: white;
  padding: 0 5px;
  font-weight: 200;
}
.text {
  font-size: 35px;
  color: red;
}
.middle {
  margin: 50px 300px;
  width: 50%;
  text-align: center;
}
.box {
  height: 350px;
  width: 350px;
  border: 1px solid red;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
  text-align: center;
  color: red;
  margin: auto;
}
.space {
  margin-left: 50px;
}
p {
  padding-left: 40px;
  text-decoration: line-through;
  font-size: 23px;
}
.checkBox {
  font-size: 20px;
  color: black;
}
.trip {
  margin: 130px 20px 0 0;

  float: right;
}
.index4 {
  /* border: 1px solid black; */
  width: 90%;
  position: absolute;
  top: 5px;
  height: 550px;
  z-index: 2;
}
form {
  text-align: center;
  color: red;
  width: 30%;
  height: 150px;
  margin: auto;
  border: 1px solid red;
  margin-top: 230px;
}
input {
  border: 1px solid red;
  height: 30px;
  width: 50%;
  box-shadow: 2px 2px 2px gray;
  border-radius: 12px;
}
button {
  color: white;
  background-color: red;
  width: 25%;
  height: 30px;
  border-radius: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .index4 {
    width: 90%;
    position: absolute;
    top: 100px;

    height: 180px;
    z-index: 2;
  }
  form {
    text-align: center;
    color: red;
    width: 50%;
    height: 120px;
    margin: auto;
    border: 1px solid red;
    margin-top: 70px;
    font-size: 13px;
    padding-top: 20px;
    border-radius: 6px;
  }
  input {
    border: 1px solid red;
    height: 16px;
    width: 50%;
    box-shadow: 2px 2px 2px gray;
    border-radius: 6px;
  }
  button {
    color: white;
    background-color: red;
    width: 20%;
    height: 15px;
    border-radius: 6px;
    font-size: 10px;
  }
  body {
    padding-top: 15px;
  }
  .header {
    width: 50%;
    height: 15px;
    text-align: center;
    margin: auto;
  }
  .welcome {
    font-size: 13px;
    background-color: white;
    padding: 0 2px;
    font-weight: 100;
  }
  .text {
    font-size: 17px;
    color: red;
  }
  .middle {
    margin: 25px 150px;
    width: 50%;
    text-align: center;
  }
  .box {
    margin-top: 40px;
    height: 230px;
    width: 160px;
    border: 1px solid red;
    box-shadow: 1.5px 1.5px 5px gray;
    border-radius: 5px;
    text-align: center;
    color: red;
    margin: auto;
  }
  .space {
    margin-left: 25px;
  }
  p {
    padding-left: 20px;
    text-decoration: line-through;
    font-size: 12px;
  }
  .checkBox {
    font-size: 10px;
    color: black;
  }
  .trip {
    margin: 35px 5px 0 0;

    float: right;
  }
}
